model_config_list: {
    config: {
        name: "patani-bayam",
        base_path: "/models/bayam",
        model_platform: "tensorflow"
    },
    config: {
        name: "patani-kangkung",
        base_path: "/models/kangkung",
        model_platform: "tensorflow"
    },
    config: {
        name: "patani-sawi",
        base_path: "/models/sawi",
        model_platform: "tensorflow"
    },
    config: {
        name: "patani-brokoli",
        base_path: "/models/brokoli",
        model_platform: "tensorflow"
    },
    config: {
        name: "patani-kubis",
        base_path: "/models/kubis",
        model_platform: "tensorflow"
    },
    config: {
        name: "patani-wortel",
        base_path: "/models/wortel",
        model_platform: "tensorflow"
    },
    config: {
        name: "patani-kentang",
        base_path: "/models/kentang",
        model_platform: "tensorflow"
    },
    config: {
        name: "patani-kacang-polong",
        base_path: "/models/kacang_polong",
        model_platform: "tensorflow"
    },
    config: {
        name: "patani-kacang-tanah",
        base_path: "/models/kacang_tanah",
        model_platform: "tensorflow"
    },
    config: {
        name: "patani-buncis",
        base_path: "/models/buncis",
        model_platform: "tensorflow"
    },
    config: {
        name: "patani-labu-siam",
        base_path: "/models/labu_siam",
        model_platform: "tensorflow"
    },
    config: {
        name: "patani-labu-kuning",
        base_path: "/models/labu_kuning",
        model_platform: "tensorflow"
    },
    config: {
        name: "patani-lobak-merah",
        base_path: "/models/lobak_merah",
        model_platform: "tensorflow"
    },
    config: {
        name: "patani-lobak-kuning",
        base_path: "/models/lobak_kuning",
        model_platform: "tensorflow"
    },
    config: {
        name: "patani-lobak-putih",
        base_path: "/models/lobak_putih",
        model_platform: "tensorflow"
    },
    config: {
        name: "patani-tomat",
        base_path: "/models/tomat",
        model_platform: "tensorflow"
    },
    config: {
        name: "patani-terong",
        base_path: "/models/terong",
        model_platform: "tensorflow"
    },
    config: {
        name: "patani-paprika-hijau",
        base_path: "/models/paprika_hijau",
        model_platform: "tensorflow"
    },
    config: {
        name: "patani-paprika-kuning",
        base_path: "/models/paprika_kuning",
        model_platform: "tensorflow"
    },
    config: {
        name: "patani-paprika-merah",
        base_path: "/models/paprika_merah",
        model_platform: "tensorflow"
    },
    config: {
        name: "patani-bawang-bombay",
        base_path: "/models/bawang_bombay",
        model_platform: "tensorflow"
    },
    config: {
        name: "patani-bawang-putih",
        base_path: "/models/bawang_putih",
        model_platform: "tensorflow"
    },
    config: {
        name: "patani-bawang-merah",
        base_path: "/models/bawang_merah",
        model_platform: "tensorflow"
    },
    config: {
        name: "patani-cabai-keriting-merah",
        base_path: "/models/cabai_keriting_merah",
        model_platform: "tensorflow"
    },
    config: {
        name: "patani-cabai-keriting-hijau",
        base_path: "/models/cabai_keriting_hijau",
        model_platform: "tensorflow"
    },
    config: {
        name: "patani-cabai-rawit-hijau",
        base_path: "/models/cabai_rawit_hijau",
        model_platform: "tensorflow"
    },
    config: {
        name: "patani-cabai-rawit-merah",
        base_path: "/models/cabai_rawit_merah",
        model_platform: "tensorflow"
    },
    config: {
        name: "patani-cabai-rawit-keriting",
        base_path: "/models/cabai_rawit_keriting",
        model_platform: "tensorflow"
    },
    config: {
        name: "patani-pare-paria",
        base_path: "/models/pare_paria",
        model_platform: "tensorflow"
    },
    config: {
        name: "patani-jamur",
        base_path: "/models/jamur",
        model_platform: "tensorflow"
    },
    config: {
        name: "patani-kembang-kol",
        base_path: "/models/kembang_kol",
        model_platform: "tensorflow"
    },
    config: {
        name: "patani-daun-bawang",
        base_path: "/models/daun_bawang",
        model_platform: "tensorflow"
    },
    config: {
        name: "patani-kemangi",
        base_path: "/models/kemangi",
        model_platform: "tensorflow"
    },
    config: {
        name: "patani-selada",
        base_path: "/models/selada",
        model_platform: "tensorflow"
    },
    config: {
        name: "patani-seledri",
        base_path: "/models/seledri",
        model_platform: "tensorflow"
    },
    config: {
        name: "patani-benih_kacang_panjang",
        base_path: "/models/benih_kacang_panjang",
        model_platform: "tensorflow"
    },
    config: {
        name: "patani-benih-kangkung",
        base_path: "/models/benih_kangkung",
        model_platform: "tensorflow"
    },
    config: {
        name: "patani-benih-jagung-manis",
        base_path: "/models/benih_jagung_manis",
        model_platform: "tensorflow"
    },
    config: {
        name: "patani-benih-timun",
        base_path: "/models/benih_timun",
        model_platform: "tensorflow"
    },
    config: {
        name: "patani-benih-buncis",
        base_path: "/models/benih_buncis",
        model_platform: "tensorflow"
    },
    config: {
        name: "patani-cangkul-sawah",
        base_path: "/models/cangkul_sawah",
        model_platform: "tensorflow"
    },
    config: {
        name: "patani-bajak-singkal",
        base_path: "/models/bajak_singkal",
        model_platform: "tensorflow"
    },
    config: {
        name: "patani-garu-sisir",
        base_path: "/models/garu_sisir",
        model_platform: "tensorflow"
    },
    config: {
        name: "patani-garu-piring",
        base_path: "/models/garu_piring",
        model_platform: "tensorflow"
    },
    config: {
        name: "patani-lada",
        base_path: "/models/lada",
        model_platform: "tensorflow"
    },
    config: {
        name: "patani-cengkeh",
        base_path: "/models/cengkeh",
        model_platform: "tensorflow"
    },
    config: {
        name: "patani-kayu-manis",
        base_path: "/models/kayu_manis",
        model_platform: "tensorflow"
    },
    config: {
        name: "patani-kapulaga",
        base_path: "/models/kapulaga",
        model_platform: "tensorflow"
    },
    config: {
        name: "patani-kunyit",
        base_path: "/models/kunyit",
        model_platform: "tensorflow"
    },
    config: {
        name: "patani-ubi-jalar",
        base_path: "/models/ubi_jalar",
        model_platform: "tensorflow"
    },
    config: {
        name: "patani-ubi-kayu",
        base_path: "/models/ubi_kayu",
        model_platform: "tensorflow"
    },
    config: {
        name: "patani-singkong",
        base_path: "/models/singkong",
        model_platform: "tensorflow"
    },
    config: {
        name: "patani-talas",
        base_path: "/models/talas",
        model_platform: "tensorflow"
    }  
}